body,
html {
    background-color: #141519;
    color: #ffff;
    height: 100%;
}

/* for marked elements */
.active{
outline: 1px solid #A9834F;
outline-offset: -4px;
}

.container{
    border: 1px solid #A9834F;
}

.section-title{
    font-family: 'Metamorphous';
}

.info{
    height: 100vh;
    background: #141519;
    font-family: 'Metamorphous';
    text-align: center;
    font-size: 20px;
}

.character-image{
   margin: auto;
   display: block;
   width: 80%;
   margin-top: 5.5rem;
}

.character-sex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.male,
.female{
    width: 50px;
    height: 50px;
    border: 1px solid #A9834F;
    display: inline-block;
    padding: .6rem;
    cursor: pointer;
}

.sex-label{
    margin: 2rem;
}

input, select{
    border: 1px solid #A9834F;
    background-color: #141519;
    border-radius: 0 50px 0 0;
    width: 70%;
    display: block;
    margin: auto;
    padding: .5rem;
    text-align: center;
    font-size: 14px;
}

select{
    direction: rtl;
    appearance:none;
}

label{
    font-weight: normal;
    margin-top: 3rem;
}

.health-points{
    margin-top: 3rem;
}






.attributes{
    background: #141519;
    height: 100vh;
    text-align: center;

}

.single-attribute{
    margin: .9rem auto;
}

.attr-desc-title{
    font-family: 'Metamorphous';
}

.attributes1,
.attributes2{
    margin-top: 5.5rem;
}

.attr-name,
.attr-value{
    font-family: 'Metamorphous';
    font-size: 20px;
}

.attr-value{
    display: inline-block;
}

.minus,
.plus{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: auto .6rem;
    cursor: pointer;
}

.points-left{
    font-family: 'Metamorphous';
    font-size: 20px;
    margin-top: 2rem;
    font-size: 28px;
}

.attr-desc{
    font-size: 17px;
    font-family: 'Lato';
    width: 70%;
    margin: auto;
    text-align: justify;
}



















.next{
    height: 100vh;
    background: #111111;
    font-size: 30px;
    border: 1px solid #A9834F;
}

.next{
    text-orientation: upright; 
    writing-mode: vertical-rl;
    text-align: center;

}


.next-btn{
    font-family: 'Metamorphous';
}